*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 8px;
}

body {
    background-color: darkgray;
}
body p {
    line-height: 2;
    text-indent: 30px;
    font-weight: bold;
}
footer {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
footer p {
    text-indent: 1px;
    font-weight: lighter;
    height: 30px;
    text-decoration: underline;

}

#idFooter, #idListaFooter {
    display: flex;
    text-indent: none;

}

nav {
    display: flex;
    text-transform: uppercase;
            
}

#imgPapiro {
    float: left;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
}

#divCabecalho {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: lightgray;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
}

a:visited {
    text-decoration: none;
    color: black;
}

#idBloco2 {
    display: flex;
    padding: 10px;
}

#idP1 {
    line-height: 2;
}

#id01, #id02, #id03  {
width: 33%;
}

#idLinkGoogle {
    color: white;

}

#idIconeTwitter, #idIconeFacebook, #idIconeInstagram {
    width: 30px;
}

#idIconeMapa {
    width: 130px;
}

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 8px;
}
body {
    background-color: darkgray;
}
body p {
    line-height: 2;
    text-indent: 30px;
    font-weight: bold;
}
form {
    margin-left: 500px;
    margin-right: 500px;
    
}
footer {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
footer p {
    text-indent: 1px;
    font-weight: lighter;
    height: 30px;
    text-decoration: underline;

}

#idFooter, #idListaFooter {
    display: flex;
    text-indent: none;

}

nav {
    display: flex;
    text-transform: uppercase;
             
}

#imgPapiro {
    float: left;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
}

#divCabecalho {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: lightgray;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
}

a:visited {
    text-decoration: none;
    color: black;
}

#idBloco2 {
    display: flex;
    padding: 10px;
}

#idP1 {
    line-height: 2;
}

#id01, #id02, #id03  {
    width: 33%;
}


#idLinkGoogle {
    color: white;

}

#idIconeTwitter, #idIconeFacebook, #idIconeInstagram {
    width: 30px;
}

#idIconeMapa {
    width: 130px;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 8px;
}
body {
    background-color: darkgray;
}
body p {
    line-height: 2;
    text-indent: 30px;
    font-weight: bold;
}
footer {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
footer p {
    text-indent: 1px;
    font-weight: lighter;
    height: 30px;
    text-decoration: underline;

}

#idFooter, #idListaFooter {
    display: flex;
    text-indent: none;

}

nav {
    display: flex;
    text-transform: uppercase;
             
}

#imgPapiro2 {
    float: left;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;

}

#divCabecalho {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: lightgray;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
}

a:visited {
    text-decoration: none;
    color: black;
}

#idBloco2 {
    display: flex;
    padding: 10px;
}

#idP1 {
    line-height: 2;
}

#id01, #id02, #id03  {
    width: 33%;
}

#idLinkGoogle {
    color: white;
}

#idIconeTwitter, #idIconeFacebook, #idIconeInstagram {
    width: 30px;
}

#idIconeMapa {
    width: 130px;
}